
.header-container {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.carousel-slider {
    margin-top: 70px;
  width: 100%;
  height: auto;
}

.carousel-slider img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}
