apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: sproj-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      imagePullSecrets:
        - name: ghcr-secret
      containers:
        - name: backend
          image: ghcr.io/arkad-mines/backend:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 4000
          env:
            - name: MONGO_URI
              value: "mongodb://mongo-svc:27017/arkad_mines"
            - name: PORT
              value: "4000"  