@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Arimo:ital,wght@0,400..700;1,400..700&family=Outfit:wght@100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit, sans-serif;

}
body{
  min-height: 100vh;
  background-color: #fcfcfc;
}
a{
  text-decoration: none;
  color: inherit;

}
hr{
  border: none;
  height: 1px;
  background-color: #a9a9a9;
}
.app-content
{
  display: flex;
  width: 100%;
  overflow-x: hidden;
}